@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="appTitle">
        <h1 id="appTitle">Assignment #5 - Panchanok Kaewchinda</h1>
        <p class="lead">This web application can show Genre, Actors, Shows and Episodes data from database and also can modify data</p>
        <p><a href="https://kpanchanok-wa-web524-a5.azurewebsites.net" class="btn btn-primary btn-md"> Assignment 5 on Azure &raquo;</a></p>
    </section>

    <div class="row mt-5">
        <section class="col-md-6" aria-labelledby="whatILearned">
            <h2 id="whatILearned">I learned ...</h2>
            <p>I learned about loadData structure to load data to database and learned to manage the data structure for using in the web application as well. </p>
        </section>
        <section class="col-md-6" aria-labelledby="whatIStruggledWith">
            <h2 id="whatIStruggledWith">I struggled with ...</h2>
            <p>I stuggled most of the time with navigating data to other data class and also with web appearance as well.</p>
        </section>
    </div>
</main>